.portfolio-container {
  display: flex;
  justify-content: space-around;

  margin-bottom: 30px;
  border-radius: 10px;
  color: #5a5a5a;
  flex: 1 1 150px;
  flex: 0 1 150px;
  margin: 5%;
  z-index: -1;
  height: 100%;
}

#portfolio-section {
  height: 100vh;
  width: 100%;
}
.portfolio-heading-container {
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-heading1 {
  color: #dee3e4;
  opacity: 0.4;
  font-weight: 600;
  font-size: 4.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
  width: 100%;
}

.portfolio-heading2 {
  font-weight: 600;
  line-height: 1.6;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  font-family: "Poppins", sans-serif;
  margin-top: 75px;
}

.portfolio-line {
  border-color: #20c997;
  width: 80px;
  border-width: 3px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-bottom: 2px solid #20c997;
}

.card1-content-container {
  border-style: solid;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.card1-img {
  text-align: center;
}

.card1-img img {
  border-radius: 20px;
}

.portfolio-card1-details {
  text-align: center;
}

.card2 img {
  height: 300px;
  width: 500px;
  border-radius: 20px;
}

.card3 img {
  height: 300px;
  width: 500px;
  border-radius: 20pxs;
}

.card4 img{
  height: 300px;
  width: 500px;
  border-radius: 20px;
}

.github {
  text-decoration: none;
  color: #20c997;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 50rem;
  margin-top: 3rem;
}

.live {
  text-decoration: none;
  color: #20c997;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 50rem;
  margin-top: 3rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
}